.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# ------------------------------------------------------------------
# SMESCO EXPRESS - UPLOADS CONFIGURATION
# ------------------------------------------------------------------
# Abaikan semua file dinamis di dalam folder transaksi bertingkat
uploads/payment_proofs/**
uploads/shipments/**
uploads/pod/**
uploads/inbound/**

# Abaikan semua file csv/sampah di folder temp, tapi sisakan foldernya
uploads/temp/*
!uploads/temp/index.html
